@import url('https://fonts.googleapis.com/css2?family=Anton&family=Archivo+Black&family=Cardo:ital@1&family=Irish+Grover&family=Montserrat:wght@100;300;400;600;900&family=Poller+One&family=Poppins:wght@100;200;300;600;900&family=Press+Start+2P&family=Roboto:wght@300;400;700&display=swap');

body {


    font-size: 15pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow-x: hidden;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

/* .contenedor__general [id] {
    scroll-margin-top: -100px;

} */

.contenedor__general {
    width: 100vw;
    height: 100%;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.19'%3E%3Cpath d='M50 50c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10s-10-4.477-10-10 4.477-10 10-10zM10 10c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10S0 25.523 0 20s4.477-10 10-10zm10 8c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm40 40c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    margin: 0 auto;

    display: grid;
    grid-template-areas:
        'contUno'
        'contDos'
        'contTres'
        'contCuatro'
        'contCinco'
        'contSeis'
        'contSiete'
        'footer';


    grid-auto-columns: 1fr;
    grid-template-rows: repeat(7, 100vh);

    align-items: center;
    justify-content: center;



}

.avatar {
    
    width: 100%;
    height: auto;
    text-align: center;
    
}

.avatar img {
    width: 50px;
    border-radius: 100%;
    border: 2px solid white;
    z-index: 9;
}


.contenedor__texto {
    width: 55%;
    height: auto;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;

    line-height: 30px;
    letter-spacing: 1.5px;

}



.contenedor-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2em;


}

.contenedor-btn a {
    width: 100px;
    height: auto;

}

.contenedor-btn input {
    text-decoration: none;
    background-color: #00a8ff;
    color: white;
    cursor: pointer;
    border: none;
    padding: 12px;
    border-radius: 8px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 800;
    font-family: 'Roboto', sans-serif;

}




/* contenedor uno */
.contenedor__uno {
    background: #bc4e9c;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f80759, #bc4e9c);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f80759, #bc4e9c);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    width: 100vw;
    height: 100vh;
    /* border-radius: 20px; */


    grid-area: contUno;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenedor__uno h1 {
    font-size: 40px;
    padding-top: 50px;

    animation-name: agrandar;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-direction: alternate;


}



@keyframes agrandar {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}








.contenedor__uno h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 40px;
    color: black;
    line-height: 40px;

}

.contenedor__uno P {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    padding-top: 50px;

}



/* contenedor dos */
.contenedor__dos {
    background: #3E5151;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #DECBA4, #3E5151);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #DECBA4, #3E5151);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    width: 100vw;
    height: 100vh;
    /* border-radius: 20px; */

    grid-area: contDos;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenedor__dos h1 {
    font-size: 40px;
    padding-top: 50px;

    animation-name: agrandar;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-direction: alternate;
}

.contenedor__dos h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 40px;
    color: black;
    line-height: 40px;

}

.contenedor__dos P {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    padding-top: 50px;
}


/* contenedor tres */
.contenedor__tres {
    background: #11998e;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #38ef7d, #11998e);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #38ef7d, #11998e);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    width: 100vw;
    height: 100vh;
    /* border-radius: 20px; */

    grid-area: contTres;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenedor__tres h1 {
    font-size: 40px;
    padding-top: 50px;
    animation-name: agrandar;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-direction: alternate;

}

.contenedor__tres h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 40px;
    color: black;
    line-height: 40px;

}

.contenedor__tres P {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    padding-top: 50px;
}


/* contenedor cuatro */
.contenedor__cuatro {
    background: #0f0c29;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    width: 100vw;
    height: 100vh;
    /* border-radius: 20px; */

    grid-area: contCuatro;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenedor__cuatro h1 {
    font-size: 40px;
    padding-top: 50px;
    color: white;
    animation-name: agrandar;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-direction: alternate;

}

.contenedor__cuatro h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 40px;
    color: white;
    line-height: 40px;

}

.contenedor__cuatro P {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    padding-top: 50px;
}


/* contenedor cinco */
.contenedor__cinco {
    background: #D3CCE3;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E9E4F0, #D3CCE3);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    width: 100vw;
    height: 100vh;
    /* border-radius: 20px; */

    grid-area: contCinco;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.contenedor__cinco h1 {
    font-size: 40px;
    padding-top: 50px;
    animation-name: agrandar;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-direction: alternate;

}

.contenedor__cinco h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 40px;
    color: black;
    line-height: 40px;

}

.contenedor__cinco P {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    padding-top: 50px;
}


/* contenedor seis */
.contenedor__seis {
    background: #CAC531;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F3F9A7, #CAC531);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F3F9A7, #CAC531);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    width: 100vw;
    height: 100vh;
    /* border-radius: 20px; */

    grid-area: contSeis;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenedor__seis h1 {
    font-size: 40px;
    padding-top: 50px;
    animation-name: agrandar;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-direction: alternate;

}

.contenedor__seis h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 40px;
    color: black;
    line-height: 40px;

}

.contenedor__seis P {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    padding-top: 50px;
}


/* contenedor siete */
.contenedor__siete {
    background: #800080;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffc0cb, #800080);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffc0cb, #800080);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    width: 100vw;
    height: 100vh;
    /* border-radius: 20px; */

    grid-area: contSiete;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.contenedor__siete h1 {
    font-size: 40px;
    padding-top: 50px;
    animation-name: agrandar;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-direction: alternate;

}

.contenedor__siete h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 40px;
    color: black;
    line-height: 40px;

}

.contenedor__siete P {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    padding-top: 50px;

    position: relative;
}



/*Boton ir arriba*/


.btn-scrolltop {
    font-size: 20px;
    position: fixed;
    bottom: 100px;
    right: 27px;
    padding: 15px 19px;
    background: red;
    color: white;
    border: none;

    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transform: translateX(300px);
    transition: .6s ease-in-out;
    z-index: 999;

}

.btn-scrolltop-on {
    transform: translateX(0px);
}

.footer {
    grid-area: footer;
    width: 100%;
    height: 80px;
    background-color: #0f0c29;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Roboto', sans-serif;

    position: absolute;
    bottom: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: space-around;

}

.footer__text{
    width: 100%;
    margin-left: 450px;

}






@media (max-width: 378px) {

    /* .contenedor__general [id] {
        scroll-margin-top: -2px;

    } */

    .avatar {
        position: fixed;
        top: 30px;
        right: 130px;
        width: 100%;
        height: auto;
        text-align: right;
    }

    .avatar img {
        width: 50px;
        border-radius: 100%;
        border: 2px solid white;
        z-index: 9;
    }



    .contenedor__texto {
        width: 80%;
        text-align: center;
    }

    /* contenedor uno */
    .contenedor__uno h1 {
        font-size: 40px;
        text-align: center;
        margin: 0;
    }

    .contenedor__uno h3 {
        font-size: 50px;
    }

    .contenedor__uno p {
        font-size: 20px;
        text-align: justify;
    }

    /* contenedor dos */
    .contenedor__dos h1 {
        font-size: 50px;
        text-align: center;
    }

    .contenedor__dos p {
        font-size: 20px;
        text-align: justify;
    }

    .contenedor__dos h3 {
        font-size: 50px;
    }

    /* contenedor tres */
    .contenedor__tres h1 {
        font-size: 50px;
        text-align: center;
    }

    .contenedor__tres p {
        font-size: 20px;
        text-align: justify;
    }

    .contenedor__tres h3 {
        font-size: 50px;
    }

    /* contenedor cuatro */
    .contenedor__cuatro h1 {
        font-size: 50px;
        text-align: center;
    }

    .contenedor__cuatro p {
        font-size: 20px;
        text-align: center;
    }

    .contenedor__cuatro h3 {
        font-size: 50px;
    }

    /* contenedor cinco */
    .contenedor__cinco h1 {
        font-size: 50px;
        text-align: center;
    }

    .contenedor__cinco p {
        font-size: 20px;
        text-align: justify;
    }

    .contenedor__cinco h3 {
        font-size: 50px;
    }

    /* contenedor seis */
    .contenedor__seis h1 {
        font-size: 50px;
        text-align: center;
    }

    .contenedor__seis p {
        font-size: 20px;
    }

    .contenedor__seis h3 {
        font-size: 50px;
    }

    /* contenedor siete */

    .contenedor__siete h1 {
        font-size: 50px;
        text-align: center;
    }

    .contenedor__siete p {
        font-size: 20px;
        text-align: center;
    }

    .contenedor__siete h3 {
        font-size: 50px;
    }

    .footer {
        /* grid-area: footer; */
        width: 100%;
        height: 60px;
        background-color: #0f0c29;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        letter-spacing: 1px;

        position: fixed;
        bottom: 0;
        left: 0;

    }



}